<section class="single-content">
    <section class="close" onclick="myFlix.movies.item.closeSingleContent();" title="Close Movie">
        <i class="fa fa-times"></i>
    </section>
    <section class="movie-poster-container">
        <div id="embed-movie-container"></div>
    </section>
    <section class="movie-info-container">
        <div class="movie-info-inner">
            <div class="title"></div>
            <div class="plot"></div>
            <div class="director"></div>
            <div class="genre"></div>
            <div class="meta-container">
                <div class="rating"></div>
                <div class="duration"></div>
                <div class="certification"></div>
            </div>
        </div>
    </section>
</section>